<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="16826f72-0232-49a3-9c34-8d9a489709a6"
            Publisher="CN=ian"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>EditRoom</DisplayName>
    <PublisherDisplayName>ian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="EditRoom.App">
        <VisualElements
            DisplayName="EditRoom"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="EditRoom"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>